/* Loopple Alert */
.loopple-alert {
  position: relative;
  margin-bottom: 16px;
  padding: 16px 24px;
  border: 1px solid transparent;
  border-radius: 6px;
  font-size: 14px;
}
.loopple-alert.loopple-alert-gradient-dark {
  color: #fff;
  border-color: #45484b;
  background: linear-gradient(87deg, #212529 0, #212229 100%) !important;
}
.loopple-alert.loopple-alert-dismissible .close {
  top: 50%;
  right: 24px;
  padding: 0;
  transform: translateY(-50%);
  opacity: 1;
  position: absolute;
  color: inherit;
  border: 0;
  background: transparent;
}
.loopple-alert.loopple-alert-dismissible .close span {
  color: #fff;
}
.loopple-fade {
  transition: opacity 0.15s linear;
}

/* Loopple Button */
.loopple-btn {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  transition: all 0.15s ease;
  padding: 10px 20px;
  letter-spacing: 0.3px;
  text-transform: none;
  will-change: transform;
}
.loopple-btn.loopple-btn-white {
  color: #212529;
  border-color: #fff;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.loopple-btn.loopple-btn-white:hover {
  color: #212529;
  border-color: #fff;
  background-color: #fff;
}
.loopple-btn.loopple-btn-white:focus, .loopple-btn.loopple-btn-white.focus {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08), 0 0 0 0 rgba(255, 255, 255, 0.5) l;
}
.loopple-btn.loopple-btn-white:not(:disabled):not(.disabled):active, .loopple-btn.loopple-btn-white:not(:disabled):not(.disabled).active {
  color: #212529;
  border-color: #fff;
  background-color: #e6e6e6;
}

/* Loopple Utilities */
.loopple-position-absolute {
  position: absolute;
}

.loopple-position-sticky {
  position: sticky;
}

.loopple-position-fixed {
  position: fixed;
}

.loopple-z-index-9999{
  z-index: 9999;
}

.loopple-bottom-2 {
  bottom: 8px;
}

.loopple-mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.loopple-text-center {
  text-align: center;
}

.loopple-right-0 {
  right: 0;
}

.loopple-left-0 {
  left: 0;
}

.loopple-w-50 {
  width: 50%;
}

.loopple-ml-1,
.loopple-mx-1 {
  margin-left: 4px;
}

.loopple-ml-2,
.loopple-mx-2 {
  margin-left: 8px;
}

.loopple-opacity-0{
  opacity: 0;
}

/* Loopple Badge */
.loopple-badge{
  position: fixed;
  font-size: 66%;
  font-weight: 600;
  line-height: 1;
  display: inline-block;
  background-color: #eaecfb;
  bottom: 2% !important;
  right: 1% !important;
  padding: 5.5px 6px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  border-radius: 6px;
}

/*-------------------
-----News Styles-----
---------------------*/    
.timeline{
    position:relative;
    margin-bottom:100px;
    z-index:1;
}

.timeline:before{
    display:block;
    content:"";
    position:absolute;
    width:50%;
    height:100%;
    left:1px;
    top:0;
    border-right:1px solid #F74D4D;
    z-index:-1;
} 

.timeline:after{
    display:block;
    content:"";
    position:absolute;
    width:50%;
    height:100px;
    left:1px;
    bottom:-105px;
    border-right:1px dashed #F74D4D;
    z-index:-1;
} 

.timeline .date-title{
    text-align:center;
    margin:70px 0 50px;
}

.timeline .date-title span{
    padding:15px 30px;
    font-size:21px;
    font-weight:400;
    color:#fff;
    background:#F74D4D;
    border-radius:5px;
}

.news-item {
    padding-bottom:45px;
}

.news-item.right {
    float:right;
    margin-top:40px;
}

.news-item .news-content {
    margin:20px 30px 0 0;
    position:relative;
    padding:30px;
    padding-left:100px;
    background:#f5f5f5;
    border-radius:10px;
    box-shadow:-5px 5px 0 rgba(0,0,0,0.08);
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.news-item:hover .news-content {
    background:#F74D4D;
    color:#fff;
}

.news-item.right .news-content {
    margin:20px 0 0 30px;
    box-shadow:5px 5px 0 rgba(0,0,0,0.08);
}

.news-item .news-content:after {
    display:block;
    content:"";
    position:absolute;
    top:50px;
    right:-40px;
    width:0px;
    height:0px;
    background:transparent;
    border:20px solid transparent;
    border-left:20px solid #f5f5f5;
    -webkit-transition:border-left-color .3s ease-out;
    transition:border-left-color .3s ease-out;
}

.news-item.right .news-content:after {
    position:absolute;
    left:-40px;
    right:auto;
    border-left:20px solid transparent;
    border-right:20px solid #f5f5f5;
    -webkit-transition:border-right-color .3s ease-out;
    transition:border-right-color .3s ease-out;
}

.news-item:hover .news-content:after {
    border-left-color:#F74D4D;
}

.news-item.right:hover .news-content:after {
    border-left-color:transparent;
    border-right-color:#F74D4D;
}

.news-item .news-content:before {
    display:block;
    content:"";
    position:absolute;
    width:20px;
    height:20px;
    right:-55px;
    top:60px;
    background:#F74D4D;
    border:3px solid #fff;
    border-radius:50%;
    -webkit-transition:background .3s ease-out;
    transition:background .3s ease-out;
}

.news-item.right .news-content:before {
    left:-55px;
    right:auto;
}

.news-content .date {
    position:absolute;
    width:80px;
    height:80px;
    left:10px;
    text-align:center;
    color:#F74D4D;
    -webkit-transition:color .3s ease-out;
    transition:color .3s ease-out;
}

.news-item:hover .news-content .date {
    color:#fff;
}

.news-content .date p{
    margin:0;
    font-size: 38px;
    font-weight: 400;
    line-height:48px;
}

.news-content .date small{
    margin:0;
    font-size:26px;
    font-weight:300;
    line-height:24px;
}

.news-content .news-title{
    font-size:24px;
    font-weight:300;
    text-align: left;
    margin-bottom: 4px;
}

.news-content p{
    font-size:16px;
    line-height:24px;
    font-weight:300;
    letter-spacing:0.02em;
    margin-bottom:10px;
}

.news-content .read-more,
.news-content .read-more:hover,
.news-content .read-more:active,
.news-content .read-more:focus{
    padding:10px 0;
    text-decoration:none;
    font-size:16px;
    color:#7A7C7F;
    line-height:24px;
}

.news-item:hover .news-content .read-more,
.news-item:hover .news-content .read-more:hover,
.news-item:hover .news-content .read-more:active,
.news-item:hover .news-content .read-more:focus{
    color:#fff;
}

.news-content .read-more{
    -webkit-transition:padding .3s ease-out;
    transition:padding .3s ease-out;
}

.news-content .read-more:hover {
    padding-left:7px;
}

.news-content .read-more:after{
    content:'\f054';
    padding-left:15px;
    font-family:'FontAwesome';
    font-size:21px;
    line-height:21px;
    color:#F74D4D;
    vertical-align:middle;
    -webkit-transition:padding .3s ease-out;
    transition:padding .3s ease-out;
}

.news-content .read-more:hover:after{
    padding-left:20px;
}

.news-item:hover .news-content .read-more:after{
    color:#fff;
}

.news-content .news-media{
    position:absolute;
    width:80px;
    bottom:-45px;
    right:40px;
    border-radius:8px;
}

.news-content .news-media img{
    border-radius:8px;
    transform:scale(1);
    -webkit-transition:-webkit-transform .3s ease-out;
    transition:transform .3s ease-out;
}

.news-content .news-media a{
    display:block;
	text-decoration:none;
    background:#fff;
    border-radius:8px;
    overflow:hidden;
    -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}

.news-content .news-media a:hover img{
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
}

.news-content .news-media a:after{
    content:'\f065';
    position:absolute;
    width:100%;
    top:0;
    left:0;
    font-family:FontAwesome;
    font-size:32px;
    line-height:80px;
    text-align:center;
    color:#F74D4D;
    -webkit-transform:scale(0);
    transform:scale(0);
    opacity:0;
    -webkit-transition:all .2s ease-out .1s;
    transition:all .2s ease-out .1s;
}

.news-content .news-media.video a:after{
    content:'\f04b';
}

.news-content .news-media a:hover:after{
    -webkit-transform:scale(1);
    transform:scale(1);
    opacity:1;
}

.news-content .news-media.gallery{
    box-shadow:4px 4px 0 #bbb,8px 8px 0 #ddd;
}
         